In [2]:
import pandas as pd
url='http://cocl.us/Geospatial_data'
data=pd.read_csv(url,sep=",")
data=pd.DataFrame(data)
data['Postal Code']=data['Postal Code'].astype(str)
data.columns = ['PostalCode', 'Latitude', 'Longitude']
data.head()
#data.dtypes

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

In [3]:
#ad 1)
import pandas

#import requests for http-query
import requests

#import beautiful soup for scraping the website
from bs4 import BeautifulSoup

complete_website = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
complete_soup = BeautifulSoup(complete_website,'xml')

data_table = complete_soup.find('table',{'class':'wikitable sortable'})
table_rows = data_table.find_all('tr')

#The strip() returns a copy of the string with both leading and trailing white-spaces being stripped.

my_list = []
for row in table_rows:
    my_list.append([col.text.strip() for col in row.find_all('td')])

# complete requirement 1

df = pandas.DataFrame(my_list, columns=['PostalCode', 'Borough', 'Neighborhood'])

df.head()

  PostalCode       Borough      Neighborhood
0       None          None              None
1        M1A  Not assigned      Not assigned
2        M2A  Not assigned      Not assigned
3        M3A    North York         Parkwoods
4        M4A    North York  Victoria Village

In [4]:
#ad 2)
# exclude NULL's from dataframe, this is not explicitly stated in 2) but seems to be straight forward....
df2 = df[~df['Borough'].isnull()] 

# additionaly exclude "Not assigned" instances from dataframe

mask = df2['Borough'].isin(['Not assigned'])
df2=df2[~mask]
df2.head()

  PostalCode           Borough                                 Neighborhood
3        M3A        North York                                    Parkwoods
4        M4A        North York                             Victoria Village
5        M5A  Downtown Toronto                    Regent Park, Harbourfront
6        M6A        North York             Lawrence Manor, Lawrence Heights
7        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [5]:
#ad 3) Check for duplicate postal codes
print("This is the data type of the variable df2: >>>>>>>",type(df2))
print("This is the size of the dataframe: >>>>>>>",df2.shape)
unique_values=df2['PostalCode'].unique().shape


if unique_values[0]==df2.shape[0]:
    print("SUCCESS and GOOD LUCK: There are no duplicates")
else:
    print("remove remaining duplicates")

This is the data type of the variable df2: >>>>>>> <class 'pandas.core.frame.DataFrame'>
This is the size of the dataframe: >>>>>>> (103, 3)
SUCCESS and GOOD LUCK: There are no duplicates

In [8]:
#ad 4) Check for not assigned neighbourhoods

nbh_checker_mask=df2['Neighborhood'].isin(['Not assigned'])
df3=df2[~nbh_checker_mask]
df3.head()

  PostalCode           Borough                                 Neighborhood
3        M3A        North York                                    Parkwoods
4        M4A        North York                             Victoria Village
5        M5A  Downtown Toronto                    Regent Park, Harbourfront
6        M6A        North York             Lawrence Manor, Lawrence Heights
7        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [9]:
#ad 4) Check if size has changed ....
if df3.shape[0]== df2.shape[0]:
    print("There is no request for changing the df as we are not experiencing any unassigned neighbourhoods")
else: 
    print("... we need some additional data transformation...")

There is no request for changing the df as we are not experiencing any unassigned neighbourhoods

In [10]:
CLIENT_ID = '2QETI0S54114BDKP25XBTDD5UTMHDJRYDSCPT0RMMGIVLPBV' # your Foursquare ID
CLIENT_SECRET = '2LHAIRCHSY3PGQXSABGWOCLMH5WSBAAUYQBE0JQFCAWECK2F' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: 2QETI0S54114BDKP25XBTDD5UTMHDJRYDSCPT0RMMGIVLPBV
CLIENT_SECRET:2LHAIRCHSY3PGQXSABGWOCLMH5WSBAAUYQBE0JQFCAWECK2F

In [21]:
df3.iloc[0,2]

'Parkwoods'